# pixi environments
.pixi/*
!.pixi/config.toml
*.pyc

# Python artifacts
__pycache__/
*.egg-info/
*.pytest_cache/
.pytest_cache/
coverage.xml
htmlcov/
.pytest_cache

# Development environments
.venv/
.env
.DS_Store
